form #notemoderator {
    width: 500px;
}

.notemoderator {
	width: 100%;
}

.notemoderator_note_normal {
	background-image: url(../../../images/notemoderator/normal.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 12px;
	background-color: #ffffff;
	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 30px;
	border-radius: 6px 6px 6px 6px;
	color: #515151;
	line-height: 150%;
	font-size: 13px;
	margin-top: 7px;
	clear: both;
}

.notemoderator_note_information {
	background-image: url(../../../images/notemoderator/information.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 12px;
	background-color: #ebfcdf;
	border: 1px solid #a4cfa4;
	padding: 10px 10px 10px 30px;
	border-radius: 6px 6px 6px 6px;
	color: #0e440e;
	line-height: 150%;
	font-size: 13px;
	margin-top: 7px;
	clear: both;
}

.notemoderator_note_warn {
	background-image: url(../../../images/notemoderator/warn.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 8px 12px;
	background-color: #f3e3e6;
	border: 1px solid #e599aa;
	padding: 10px 10px 10px 30px;
	border-radius: 6px 6px 6px 6px;
	color: #80001c;
	line-height: 150%;
	font-size: 13px;
	margin-top: 7px;
	clear: both;
}

.notemoderator_button_edit {
	margin-right: 10px;
}